body {


  background-repeat : no-repeat;
  background-attachment : fixed;
  background-size: 1750px 850px}

card{ background-color: grey }


div.container-fluid {
background-color: black;


}

h1{

}
