body {

  background-color : black;

}


card{ background-color: grey }


div.container-fluid {
  background-color: black;


}

h5{
    text-align: justify;
}
.card-body{

  background-color: darkgray;
}
.colored {

  color: #ffffff;

}
